<div class="configurable_links" style="display: none;">
  <p>
  <span class="fake_button"><%= link_to "Edit", edit_criterium_path(links.id) %></span>
  <span class="fake_button"><%= link_to "Delete", criteria_path(links.id), :method => :delete, :confirm => "Delete #{links.name}?" %></span>
  </p>
</div>