<div>
  <% count = 1 %>
  <% @criteria.group_by(&:type).each do |type, criteria| %>
  <div class="span-4<%= count > 0 && count % Criterium.type_options.size == 0 ? ' last' : '' %>">
    <h4><%=h type.to_s.titleize %></h4>
    <%= render :partial => 'criterium', :collection => criteria %>
  </div>
  <% count += 1 %>
  <% end %>
</div>

<%= render :partial => 'sidebar' %>