<li class="states">
  <% unless activity_with_states.states.compact.empty? %>
    <%= activity_with_states.states.sort_by{|s| s.abbreviation}.collect{|s| s.abbreviation}.join(', ') %>
  <% else %>
    N/A
  <% end %>
  <ul>
    <li class="description"><%= activity_with_states.description %></li>
  </ul>
</li>