<% content_for(:sidebar) do %>
  <div class="span-4 last">
    <h4>Activity Tools</h4>
    <%= link_to "New Activity", new_activity_path %><br />
    <%= link_to "Update Imported Activities", edit_all_activities_path %>
  </div>
<% end %>