<h1>Update Imported Activities</h1>


<table class="nice_table" id="activities_table" style="width:100%">
<!--  <tbody> -->
  <%= render :partial => 'remote_form_activity', :collection => @activities %>
<!--  </tbody> -->
</table>

<%= render :partial => 'sidebar' %>
