<li id="report_start_period" class="string required">
  <%= form.label :start_period %>
  <%= form.calendar_date_select :start_period, :buttons => false %>
</li>
<li id="report_end_period" class="string required">
  <%= form.label :end_period %>
  <%= form.calendar_date_select :end_period, :buttons => false %>
</li>